:root {
  --dark-color: #011627;
  --pink-color: #e63946;
  --ligth-color: #f1faee;
}

/* VARIABLE FOR THE COLOR */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  width: 1152px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 44px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 30px;
}

nav ul li a {
  font-size: 16px;
  font-weight: bold;
  color: var(--dark-color);
  text-decoration: none;
}

nav ul li a.active {
  color: var(--pink-color);
}

a.btn {
  border-radius: 8px;
  padding: 8px 24px;
  text-decoration: none;
  font-weight: bold;
  transition: all 400ms;
}

a.btn.light {
  border: 1px solid var(--dark-color);
}

a.btn.light:hover {
  background: var(--dark-color);
  color: var(--ligth-color);
}

a.btn.dark {
  background: var(--dark-color);
  color: var(--ligth-color);
  padding: 16px 32px;
  display: inline-block;
  border: 1px solid var(--dark-color);
}

a.btn.dark:hover {
  background: var(--ligth-color);
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
}

/* Hero Section */

.hero-wrapper {
  display: flex;
  align-items: center;
  height: calc(100vh - 89px);
}

.hero-wrapper .hero-text h1 {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 60px;
  font-weight: normal;
  line-height: 100%;
  color: var(--dark-color);
}

.hero-wrapper .hero-text p.subheading {
  font-size: 16px;
  line-height: 200%;
  width: 490px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.hero-wrapper .hero-image {
  flex: 1px;
}

.hero-wrapper .hero-text {
  flex: 1;
}
