:root {
  --dark-color: #011627;
  --pink-color: #e63946;
  --ligth-color: #f1faee;
}

/* VARIABLE FOR THE COLOR */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  width: 1152px;
  margin: 0 auto;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 44px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 30px;
}

nav ul li a {
  font-size: 16px;
  font-weight: bold;
  color: var(--dark-color);
  text-decoration: none;
}

nav ul li a.active {
  color: var(--pink-color);
}

a.btn {
  border-radius: 8px;
  padding: 8px 24px;
  text-decoration: none;
  font-weight: bold;
  transition: all 400ms;
}

a.btn.light {
  border: 1px solid var(--dark-color);
}

a.btn.light:hover {
  background: var(--dark-color);
  color: var(--ligth-color);
}

a.btn.dark {
  background: var(--dark-color);
  color: var(--ligth-color);
  padding: 16px 32px;
  display: inline-block;
  border: 1px solid var(--dark-color);
}

a.btn.dark:hover {
  background: var(--ligth-color);
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
}

/* Hero Section */

.hero-wrapper {
  display: flex;
  align-items: center;
  height: calc(100vh - 89px);
}

.hero-wrapper .hero-text h1 {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 60px;
  font-weight: normal;
  line-height: 100%;
  color: var(--dark-color);
}

.hero-wrapper .hero-text p.subheading {
  font-size: 16px;
  line-height: 200%;
  width: 490px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.hero-wrapper .hero-image {
  flex: 1px;
  position: relative;
}

.hero-wrapper .hero-text {
  flex: 1;
}

.hero-wrapper .hero-image .hero-ground {
  width: 360px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  bottom: 18px;
  z-index: -100;
  background: #fff;
  box-shadow: 0 6px 15px 4px rgba(0, 0, 0, 0.25);
}

/* Social Icons */

.social-icons {
  position: absolute;
  right: 0;
}

.social-icons a {
  margin: 0 30px;
  text-decoration: none;
  transition: all 400ms;
  display: inline-block;
  padding-top: -300px;
}

.social-icons a:hover {
  transform: scale(1.2);
}

/* BG Shapes */

.hero-bg-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 200;
}

.hero-bg-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -200;
}

.hero-bg-left img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}

/* Anmimations */

/* .hero-bg-left img {
  animation: move-right 1000ms forwards cubic-bezier(0.17, 0.67, 0.92, 0.12);
  transform: translateX(-100%);
}

.hero-bg-left img:nth-of-type(2) {
  animation-delay: 200ms;
}

.hero-bg-left img:first-child {
  animation-delay: 400ms;
}

@keyframes move-right {
  100% {
    transform: translateX(0);
  }
}

.hero-text h1,
.hero-text p.subheading,
.hero-text a.btn {
  animation: fade-down 2000ms forwards cubic-bezier(0.017, 0.37, 0.19, 1.08);
  transform: translateX(-80px);
  opacity: 0;
}

.hero-text p.subheading {
  animation-delay: 200ms;
}

.hero-text a.btn {
  animation-delay: 500ms;
}

@keyframes fade-down {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-image .hero-ground {
  animation: fade-rigth 2000ms forwards cubic-bezier(0.017, 0.37, 0.19, 1.08);
  transform: translateX(-80px);
  opacity: 0;
  animation-delay: 800ms;
}

.hero-image img {
  animation: fade-rigth 2000ms forwards cubic-bezier(0.017, 0.37, 0.19, 1.08);
  transform: translateX(-180px);
  opacity: 0;
  animation-delay: 1200ms;
}

.social-icons a img {
  animation: fade-rigth 2000ms forwards cubic-bezier(0.017, 0.37, 0.19, 1.08);
  transform: translateX(-50px);
  opacity: 0;
  animation-delay: 1200ms;
}

@keyframes fade-rigth {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

nav .logo {
  animation: fade-rigth 2000ms forwards cubic-bezier(0.017, 0.37, 0.19, 1.08);
  transform: translateX(-180px);
  opacity: 0;
  animation-delay: 1000ms;
}

nav ul li {
  animation: fade-in 2000ms forwards cubic-bezier(0.017, 0.37, 0.19, 1.08);
  opacity: 0;
  animation-delay: 1000ms;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
} */

@media (max-width: 600px) {
  .hero-bg-left,
  .hero-bg-right,
  nav ul,
  .hero-image .hero-ground {
    display: none;
  }

  .wrapper {
    width: 100%;
    padding: 16px 32px;
  }

  .logo img {
    height: 36px;
  }

  /* Hero Section */

  .hero-wrapper {
    flex-direction: column;
  }

  .hero-image img {
    height: 300px;
  }

  .hero-wrapper .hero-text h1 {
    font-size: 32px;
    line-height: 120%;
  }

  .hero-wrapper .hero-text {
    text-align: center;
  }
}
